<!-- col-sm-offset-3 -->


  <!-- <div *ngIf="users.city !== cityName">
    <p>No experts in this location yet! Try a different city!</p>
  </div> -->


  <div class="row">
    <div class="userlist-search">
      <label for="InputName"> Search Name: </label>
      <input id="InputName" placeholder="Name" type="text" [(ngModel)]="pattern">
    <div>
          <div class="col-sm-3" *ngFor="let user of users | filter: 'name': pattern; let i = index" >
            <div class="user"  *ngIf="user.role == 'EXPERT'">
              <img class="image-circle" src="{{user.image}}" />
                <p> {{ user.name }} </p>
                <p> {{ user.age }} </p>
                <a [routerLink]="['/city', user._id]"> View Details </a>

                <hr>
            </div>
          </div>

  </div>







  <!-- <div *ngFor="let user of users | filter:filters">
            <div *ngIf="user.role == 'HELPER'">
              <h3> {{ user.name }} </h3>
              <p> {{ user.email }} </p>
              <h4> {{ user.slogan }} </h4>
              <p> {{ user.description }} </p>
              <p> {{ user.speciality }} </p>
              <p> {{ user.role }} </p>
              <p><button class="btn btn-success"><a [routerLink]="['/search', user._id]">Contact</a></button></p> -->
