.col-sm-3{
  text-align: center;
  background-color: white;
}

.image-circle {
  border-radius: 50%;
  margin-bottom: 10px;
}

/*.user {
  margin-top: 10px;
}*/

.userlist-search {
  /*margin-bottom: 50px;*/
}

.row {
  margin-top: 30px;
}
