<div>
  <div class="form-group">
  <label for="numberDays">Number of days </label>
  <select>
    <option value=1>1</option>
    <option value=2>2</option>
    <option value=3>3</option>
    <option value=4>4</option>
    <option value=5>5</option>
    <option value=6>6</option>
    <option value=7>7</option>
    <option value=8>8</option>
    <option value=9>9</option>
  </select>
  </div>
<form>
  <div class="form-group">
    <label for="InputBreakfast">Breakfast Options</label>
    <input type="text" class="form-control"  placeholder="Breakfast 1" name="breakfast">
    <input type="text" class="form-control" placeholder="Breakfast 2" name="breakfast">
    <input type="text" class="form-control" placeholder="Breakfast 3" name="breakfast">
  </div>
  <div class="form-group">
    <label for="InputLunch">Lunch Options</label>
    <input type="text" class="form-control" placeholder="Lunch 1" name="lunch">
    <input type="text" class="form-control" placeholder="Lunch 2" name="lunch">
    <input type="text" class="form-control" placeholder="Lunch 3" name="lunch">
  </div>
  <div class="form-group">
    <label for="InputDinner">Dinner Options</label>
    <input type="text" class="form-control" placeholder="Dinner 1" name="dinner">
    <input type="text" class="form-control" placeholder="Dinner 2" name="dinner">
    <input type="text" class="form-control" placeholder="Dinner 3" name="dinner">
  </div>



  <div class="form-group">
    <label for="InputMorningActivity">Morning Activity Options</label>
    <input type="text" class="form-control" placeholder="Morning Activity 1" name="MorningActivity">
    <input type="text" class="form-control" placeholder="Morning Activity 2" name="MorningActivity">
    <input type="text" class="form-control" placeholder="Morning Activity 3" name="MorningActivity">
  </div>
  <div class="form-group">
    <label for="InputAfternoonActivity">Afternoon Activity Options</label>
    <input type="text" class="form-control" placeholder="Afternoon Activity 1" name="AfternoonActivity">
    <input type="text" class="form-control" placeholder="Afternoon Activity 2" name="AfternoonActivity">
    <input type="text" class="form-control" placeholder="Afternoon Activity 3" name="AfternoonActivity">
  </div>
  <div class="form-group">
    <label for="InputEveningActivity">Evening Activity Options</label>
    <input type="text" class="form-control" placeholder="Evening Activity 1" name="EveningActivity">
    <input type="text" class="form-control" placeholder="Evening Activity 2" name="EveningActivity">
    <input type="text" class="form-control" placeholder="Evening Activity 3" name="EveningActivity">
  </div>

  <button type="submit" class="btn btn-default btn-primary" (click)="signup()">Send</button>
</form>
</div>
