<div>
<h3>Request by {{request.name}}</h3>

<p>{{request.startDate | date:"yMMMMEEEEd" }}</p>
<p>{{request.endDate | date:"yMMMMEEEEd" }}</p>
<p>{{request.city}}</p>
<p>{{request.whoIsTravelling}}</p>
<p>{{request.mainInterests}}</p>
<p>{{request.mustKnows}}</p>

<button class="btn btn-danger" (click)="removeRequest()"> Delete </button>
</div>




<!-- <button class="btn btn-success"  [routerLink]="['create']">Plan Trip</button> -->
<button class="btn btn-success" (click)="showComponent()">Plan Trip</button>
<div *ngIf="show">
  <app-create-agenda></app-create-agenda>
</div>
<!-- <router-outlet></router-outlet> -->
