<video poster="../assets/10964174.mp4" id="bgvid" playsinline autoplay muted loop>
<source src="../assets/10964174.mp4" type="video/mp4">
</video>
 <div class="container-fluid">
   <video poster="../assets/10964174.mp4" id="bgvid" playsinline autoplay muted loop>
   	<source src="../assets/10964174.mp4" type="video/mp4">
   </video>
 <div class="jumbotron banner">
       <div class="row">
         <div class="col-md-5 title">
         <h1>
           Have a trip that lasts
         </h1>
         </div>
       </div>
       <div class="row">
         <div class="col-md-12 center-form">
           <div class="form-group form-inline"><br><br>
             <h2>Where are you going?</h2>
             <label for="cityInput">Where: </label>

              <input id="cityInput" type="text" class="form-control input-lg-custom" placeholder="Destination City" name="cityInput" [(ngModel)]="city" >

             <!-- <input id="from" type="date" class="form-control" placeholder="from" name="from">
             <label for="dateInput">To: </label>
             <input id="to" type="date" class="form-control" placeholder="to" name="to"> -->
             <button id="search-button"(click)="goToSearch()"> Find an expert!</button><br><br>

           </div>
         </div>
       </div>

   </div>
 </div>
