<!-- <div class="jumbotron">
  <h1>Hello, world!</h1>

</div>
 -->



 <div class="container-fluid">

 <div class="jumbotron banner">
       <div class="row">
         <div class="col-md-5 title">
         <h1>
           Have a trip that lasts
         </h1>
         </div>
       </div>
       <div class="row">
         <div class="col-md-12 center-form">
           <div class="form-group form-inline"><br><br>
             <h2>Where and when do you plan on going?</h2>
            <label for="cityInput">Where: </label>
             <input id="searchTextField" type="text" class="form-control input-lg-custom" placeholder="What city are you visiting?" name="searchTextField">
             <label for="dateInput">From: </label>
             <input id="from" type="date" class="form-control" placeholder="from" name="from">
             <label for="dateInput">To: </label>
             <input id="to" type="date" class="form-control" placeholder="to" name="to">

             <button id="expertList" class="btn btn-success"><a [routerLink]="['search']" style="text-decoration:none; color:white;"> Find an expert!</a></button><br><br>

           </div>
         </div>
       </div>

   </div>
 </div>
