
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}


.jumbotron {
  opacity: 0.9;
  margin-top: 50px;
}

#search-button {
 height: 35px;
 width: 120px;
 font-size: 14px;
 color: white;
 border-radius: 5px;
 border:none;
 background-color: rgb(255, 146, 152) ;
}
