.image-circle {
  border-radius: 50%;
  float: left;
}

.expert-details {
  float: left;
  margin-left: 20px;
}

.expert-page{
  padding-right:50px;
  margin-bottom: 30px;
}

.request-button {
  clear: both;
}

#seperate-line {
  clear: both;
}

.request-button {
  height: 35px;
  width: 200px;
  font-size: 14px;
  color: white;
  border-radius: 5px;
  border:none;
  background-color: #464775;
}

.request-button:hover {
  background-color: #464775;
}

body {
    background-color: #464775;
}
