.image-circle {
  border-radius: 50%;
  float: left;
}
.expert-details {
  float: left;
  margin-left: 20px;
}
.expert-page{
  padding-right:50px;
  margin-bottom: 30px;
}
.request-button {
  clear: both;
}
#seperate-line {
  clear: both;
}
