<ol class="breadcrumb">
<li><a [routerLink]="['/']">Home</a></li>
<li class="active">Dashboard</li>
<!-- <li><a [routerLink]="['/']">Listings</a></li> -->
</ol>

<div class="container">

<div class="profile-page" *ngIf="currentUser.role === 'EXPERT'">
  <div class="user">
    <img class="image-circle" src="{{currentUser.image}}" />
    <div id="username">
    <p id="user-name-profile">{{ currentUser.name}}</p>
    <p id="userDescription">{{ currentUser.description}}</p>
  </div>
  </div>




<div class="col-lg-6" class = "tab-body">
  <tabset class="tabset" [justified]="true">
    <tab class="color" heading="About">
      <div class="details">
          <p>Age: {{ currentUser.age}}</p>
          <p>Interests: {{ currentUser.interests}}</p>
          <p>City: {{ currentUser.city}}</p>
          <p>Languages: {{ currentUser.languages}}</p>

          <div class="links">
              <p class="links"><a class="links" [routerLink]="['avatar']"> Add your avatar </a></p>
              <p class="links"><a class="links" [routerLink]="['edit']"> Add your details </a></p>
          </div>

      </div>
    </tab>

    <tab class="color" heading="Bookings">
      <div class="col-xs-4 col-xs-offset-4">
      <div class="bookings" *ngIf="currentUser.bookings.length">

              <ul>
                  <li *ngFor="let booking of currentUser.bookings"> <a [routerLink]="['/request', booking._id]">{{booking.city}}</a></li>
              </ul>
              <br>
        </div>
      </div>

    </tab>


    <tab heading="Reviews">
    <div class="col-xs-8 col-xs-offset-8">
      <p class="review">Reviews</p>
    </div>
    </tab>


  </tabset>
</div>

</div>




<div class="profile-page" *ngIf="currentUser.role === 'TRAVELER'">
  <div class="user">
    <img class="image-circle" src="{{currentUser.image}}" />
    <p id="username">{{ currentUser.name}}</p>
  </div>


  <tabset class="tabset" [justified]="true">
    <tab heading="About">
      <!-- <div class="details"> -->
          <!-- <p>Age: {{ currentUser.age}}</p>
          <p>Interests: {{ currentUser.interests}}</p>
          <p>Description: {{ currentUser.description}}</p>
          <p>City: {{ currentUser.city}}</p>
          <p>Languages: {{ currentUser.languages}}</p> -->

          <div class="links">
              <p><a [routerLink]="['avatar']"> Add your avatar </a></p>
                <a [routerLink]="['/']"> Going somewhere? Get your custom journey schedule! </a>
          </div>

      <!-- </div> -->
    </tab>
    <tab heading="Bookings">
      <div class = "col-sx-12 col-xs-offset-4">
        <br>
      <div *ngIf="currentUser.bookings.length">
              <ul>
                <li *ngFor="let booking of currentUser.bookings"> {{ booking.city&nbsp;}}
                </li>
              </ul>
      </div>

    </div>
    </tab>

    <tab heading="Agendas">
      <div class = "col-sx-12 col-xs-offset-8">
        <div class="panel panel-default">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Destination City</th>
                <th>Day</th>
              </tr>
            </thead>
            <tbody *ngIf="currentUser.agendas.length">
              <tr *ngFor="let agenda of currentUser.agendas">
                <td ><a [routerLink]="['/agenda', agenda._id]">{{agenda.city&nbsp;}}</a> </td>
                <td >{{ agenda.day&nbsp;}}</td>
              </tr>
             </tbody>
           </table>
         </div>
      </div>
    </div>
      <!-- <div *ngIf="currentUser.agendas.length">
        <ul>
          <li *ngFor="let agenda of currentUser.agendas"><a [routerLink]="['/']" >{{agenda.city&nbsp;}} Day: {{ agenda.day&nbsp;}}</a> </li>
        </ul>
      </div>-->
    </div>

    </tab>

  </tabset>

</div>
</div>
